<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      >

<head>
  <meta charset="utf-8" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Class management
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    th:href="@{/css/class_management_ui/font-and-icon.css}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <!-- CSS Files -->
  <link th:href="@{/css/class_management_ui/style.css}" rel="stylesheet" type="text/css"/>
  <style>
    button.btn-issue,
    a.btn-issue{
      border: 2px solid #2596be;
      color: #2596be;
      cursor: pointer;

      background-color: #fff;
      border-radius: 3px;
      padding: 2px;
    }
    a.btn-custom {
      margin-bottom: 10px;
      margin-right: 5px;
    }
  </style>

</head>

<body class="">
  <div class="wrapper ">
    <div th:replace="/fragments :: slide_bar"> </div>
    <div class="main-panel">
      <div th:replace="fragments :: navbar('Class Management')">
      </div>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="btn-acction">
            <form th:action="@{/admin/import/class}" method="post" enctype="multipart/form-data">
            <input type="file" class="btn-issue btn-custom" th:name="file" accept=".xlsx"></input>
              <button class="btn-issue btn-custom">Import Classes</button>
            </form>
            <a type="button" th:href="@{/admin/class/export/excel}" class="btn-issue btn-custom"><span style="color:#2596be; ">Export Class</span> </a>
            <a type="button" th:href="@{/admin/add-class}"  class="btn-issue btn-custom"><span style="color:#2596be; ">Add Class </span></a>
          </div>

          <form th:action="@{/admin/class-management}" id="list-page">
          <div class="row">

            <div class="col-md-12">
              <div style="float: left;">
                <button class="btn-issue" > <i class="fa fa fa-bars"  style="padding-right: 5px;"></i>Filter</button>
              </div>
              <div style="float: right;">
                <span>page</span>
                <input type="text" name="" id=""  style="border: none; color: #333333; padding: 5px 5px; margin-bottom: 2px;" value="5">
              </div>

              <div class="card card-plain">

                <div class="card-body" style="background-color: #fff !important;">

                  <div class="table-responsive">

                    <table class="table table-hover">
                      <thead class="">

                        <th>
                          Name
                        </th>
                        <th>
                          Plan count
                        </th>
                        <th>
                          Current count
                        </th>
                        <th>
                          Start date
                        </th>
                        <th>
                          End Date
                        </th>
                        <th>
                          Head teacher
                        </th>
                        <th>
                          Type
                        </th>
                        <th>
                          Status
                        </th>
                        <th>
                          Detail
                        </th>
                      </thead>
                      <tbody>


                        <tr th:each="class: ${classList}">
                          <a>
                          <td th:text= "${class.name}">

                          </td></a>
                          <td th:text= "${class.planCount}">

                          </td >
                          <td th:text="${class.trainees.size}">

                          </td >
                          <td th:text="${#dates.format(class.startDate, 'dd-MM-yyyy')}">

                          </td>
                          <td th:text="${#dates.format(class.endDate, 'dd-MM-yyyy')}">

                          </td>
                          <td th:text="${class.trainer == null} ? '' : ${class.trainer.getName()}"></td>
                          <td th:text="${class.type}"></td>
                          <td th:text="${class.statusOfClass}"></td>
                          <td><a th:href="@{|/admin/class-management/${class.id}|}" type="button" class="btn-issue">Detail</a></td>
                        </tr>


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <nav aria-label="Page navigation">
            <ul class="pagination" id="pagination"></ul>
          </nav>
          <input type="hidden" id="page" name="page"/>
          </form>
        </div>
      </div>
      <footer class="footer">

      </footer>
    </div>
  </div>

  <!--   Core JS Files   -->

  <script th:src="@{/js/dashboard_js/jquery.min.js}"></script>
  <script th:src="@{/js/dashboard_js/popper.min.js}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
<script>

  $('.sidebar-wrapper ul').find('li.active').removeClass('active');
  $("#Class_nav").addClass('active');
</script>

  <script type="text/javascript">
    var totalPages = [[${pageTotal}]];
    var currentPage = [[${page}]];
    $(function () {
      window.pagObj = $('#pagination').twbsPagination({
        totalPages: totalPages,
        visiblePages: 10,
        startPage: currentPage,
        limit: 5,
        onPageClick: function (event, page) {
          if(currentPage != page) {
            $('#page').val(page)
            $('#list-page').submit();
          }

        }
      })
    });
  </script>



</body>

</html>